$grayscale-9: hsl(0, 0%, 88%);
$grayscale-8: hsl(0, 0%, 78%);
$grayscale-7: hsl(0, 0%, 69%);
$grayscale-6: hsl(0, 0%, 50%);
$grayscale-5: hsl(0, 0%, 40%);
$grayscale-4: hsl(0, 0%, 33%);
$grayscale-3: hsl(0, 0%, 27%);
$grayscale-2: hsl(0, 0%, 16%);
$grayscale-1: hsl(0, 0%, 12%);

$highlight-1: hsl(156, 48%, 26%);
