$grayscale-9: rgb(225, 225, 225);
$grayscale-8: rgb(200, 200, 200);
$grayscale-7: rgb(176, 176, 176);
$grayscale-6: rgb(151, 151, 151);
$grayscale-5: rgb(127, 127, 127);
$grayscale-4: rgb(103, 103, 103);
$grayscale-3: rgb(70, 70, 70);
$grayscale-2: rgb(40, 40, 40);
$grayscale-1: rgb(30, 30, 30);
