@import "./colors.scss";

@mixin button {
    border: none;
    background: none;
    line-height: 1;
    cursor: pointer;

    &:disabled {
        opacity: 0.3;
        cursor: default;
    }
}

@mixin underlining-link($color: $grayscale-9) {
    text-decoration: none;
    color: $color;

    &:hover {
        text-decoration: underline;
    }
}
