.page-view {
    .toolbar {
        display: flex;
        gap: 0.5rem;
        padding: 0.3rem;
        margin-bottom: 0.5rem;
        justify-content: flex-end;
    }

    .title-page-title-input {
        margin-bottom: 0.5rem;
    }
}