@import "../../../helpers/scss/colors.scss";

.sortable-card-list-container {
    .sortable-th {
        padding: 0.2rem;
        vertical-align: middle;
    }
    .sortable-tbody .sortable-tr {
        &:hover {
            background-color: $grayscale-3;
        }
    }
    .sortable-td {
        padding: 0.2rem;
        vertical-align: middle;
        line-height: 0;
    }
    .drag-indicator {
        color: $grayscale-7;
    }
}
