@import "../../../helpers/scss/colors.scss";

.sortable-card-list-container {
    tr {
        cursor: grab;
        &:hover {
            background-color: $grayscale-3;
        }
    }
    td {
        padding: 0.2rem;
        user-select: none;
    }
}
