@import "../../helpers/scss/colors.scss";

.campaign-page {
    padding: 0.5rem;

    .campaign-details-container {
        img {
            width: 5rem;
            height: 5rem;
            background-color: $grayscale-9;
        }
    }

    .encounter-sets-list-container {
        .sortable-tbody .sortable-tr {
            &:hover {
                background-color: $grayscale-3;
            }
        }
        .sortable-th {
            padding: 0.2rem;
            vertical-align: middle;
        }
        .sortable-td {
            padding: 0.2rem;
            vertical-align: middle;
            line-height: 0;
        }
        .drag-indicator {
            color: $grayscale-7;
        }
    }
}
