@import "../../../../helpers/scss/colors.scss";

.expandable {
    margin-top: 0.5rem;

    .height-transitioning {
        max-height: 0;
        overflow: hidden;
        margin-bottom: 0;
        transition: max-height 0.2s, margin-bottom 0.2s;
    }

    &.expanded .height-transitioning {
        max-height: 1vh;
        margin-bottom: 0.5rem;
    }

    .display-none {
        display: none;
    }

    .display-block {
        display: block;
    }

    .less-more-button {
        border: 2px $grayscale-5 dashed;
        border-radius: 1rem;
        background: none;
        color: $grayscale-5;
        font-weight: bold;
        width: 100%;
        padding: 0.5rem;
        cursor: pointer;

        &:hover {
            background-color: $grayscale-2;
        }
    }
}
