@import "../../../../helpers/scss/colors.scss";

.input-container {
    display: flex;

    label {
        width: 10rem;
        text-align: right;
        margin-right: 0.5rem;
        flex-grow: 0;

        &.v-centered {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding-bottom: 0.1rem;
        }
    }
    input {
        flex-grow: 1;
    }
    textarea {
        height: 6rem;
        resize: vertical;
        flex-grow: 1;
    }
    textarea.small {
        height: 3rem;
    }
}
