.card-page {
    padding: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    > div {
        min-width: 51%;
        flex-grow: 1;
    }

    .face-view:nth-child(2) {
        margin-bottom: 0.5rem;
    }

    canvas {
        width: 375px;

        &.landscape {
            width: 525px;
        }
    }

    textarea {
        font-family: inherit;
    }
}
