.card-page {
    padding: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;

    .toolbar {
        display: flex;
        gap: 0.5rem;
        padding: 0.3rem;

        .icon-button {
            gap: 0.3rem;
        }
    }

    > div {
        min-width: 51%;
        flex-grow: 1;
        max-width: 1300px;
    }

    canvas {
        width: 375px;

        &.landscape {
            width: 525px;
        }
    }

    textarea {
        font-family: inherit;
    }
}
