.card-page {
    padding: 0.5rem;

    .front-face-view-container {
        margin-bottom: 0.5rem;
    }

    canvas {
        width: 375px;

        &.landscape {
            width: 525px;
        }
    }

    textarea {
        font-family: inherit;
    }
}
