.card-page {
    padding: 0.5rem;

    > div:not(:last-child) {
        margin-bottom: 0.5rem;
    }

    .loaded-images {
        display: none;
    }

    canvas {
        width: 375px;
    }

    textarea {
        font-family: inherit;
    }
}
