@import "../components/colors.scss";

html {
    font-family: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", "Arial", "Noto Sans",
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 16px;
}

body {
    position: relative;
    color: $color-1;
    font-weight: 200;
    background-color: $color-2;
}
