$color-1: rgb(225, 225, 225);
$color-2: rgb(25, 25, 25);
$color-3-light: rgb(214, 243, 255);
$color-3-strong: rgb(77, 201, 255);
$color-4-light: rgb(255, 241, 214);
$color-5-light: rgb(215, 255, 219);
$color-5-strong: rgb(26, 214, 45);
$color-6-light: rgb(243, 211, 255);
