.campaign-guide-page {
    padding: 0.5rem;

    textarea {
        font-family: inherit;
        // width: 100%;
        // height: 100%;
        // resize: none;
    }

    canvas {
        flex-grow: 0;
        flex-shrink: 0;
        // width: 675px;
        // height: 675px;
        width: 1125px;
        height: 1125px;
        margin-right: 0.5rem;
    }
}
