@import "../../../helpers/scss/colors.scss";

.face-view {
    display: flex;
    align-items: flex-start;
    max-width: 1160px;
    gap: 1rem;

    .canvas-container {
        flex-grow: 0;
        background-color: rgba(255, 255, 255, 0.1);
        line-height: 0;
    }

    .form-container {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }

    .text-label-container {
        width: 10rem;
        text-align: right;
        margin-right: 0.5rem;
        flex-grow: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        label {
            margin-right: 0;
        }

        .font-size-label {
            font-size: 0.8rem;
            margin-bottom: 0.3rem;
        }

        input {
            width: 4rem;
            font-size: 0.7rem;
            margin-left: 0.4rem;
        }
    }
}
